<div class="container" *ngIf="hasOrders$ | async">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row" *ngFor="let order of orders$ | async">
      <div class="p-2 pt-5">
        <div>Username: {{ order.user.username }}</div>
        <div>{{ order.user.admin? "Admin":"" }}</div>
        <div *ngIf="!order.delivered && currentUser.admin">
          <button class="btn btn-success" (click)="handleDeliver(order)">Deliver</button>
        </div>
        <div *ngIf="!currentUser.admin">
          {{order.delivered | delivered}}
        </div>
      </div>
      <div *ngFor="let article of order.articles" style="flex-basis: 1;">
        <img
          src="{{ article.image }}"
          alt="{{ article.name }}"
          style="width:200px; height:200px;"
        />
        <div>{{ article.name }}</div>
        <div>Price: {{ article.price }}</div>
        <div>Count: {{ article.selectedNumber }}</div>
        <div>Payed: {{ article.price * article.selectedNumber }}</div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!(hasOrders$ | async)">
  <mat-card>
    <mat-card-title>Nothing found with this filter</mat-card-title>
  </mat-card>
</ng-container>
