<tr>
    <td>
        {{{currency.id}}}
    </td>
    <td>
        <div>
            <strong>{{{currency.code}}}</strong>
        </div>
        <div>
            <small>{{{currency.name}}}</small>
        </div>
    </td>
    <td>
        {{{currency.price}}}
    </td>
    <td>
        {{{currency.marketPrice}}}
    </td>
    <td>
        {{{currency.volume}}}
    </td>
    <td>
        <div>
            {{{currency.d}}}% D
        </div>
        <div>
            {{{currency.w}}}% W
        </div>
    </td>
</tr>