<table *ngIf="hasUsers$ | async" class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>
        {{ user.id }}
      </td>
      <td>
        {{ user.username }}
      </td>
      <td>
        {{ user.admin ? "Yes" : "No" }}
      </td>
    </tr>
  </tbody>

</table>
<ng-container *ngIf="!(hasUsers$ | async)">
  <mat-card>
    <mat-card-title>Nothing found with this filter</mat-card-title>
  </mat-card>
</ng-container>
